<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Изменить опрос</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style type="text/css"></style>

    <style>
        .logo {
            height: 40px;
            margin-bottom: 5px;
        }

        .navbar {
            background-color: #0f1727;
        }

        .form-control {
            margin-bottom: 25px;
        }

        .btn {
            text-align: right;
        }
    </style>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/logoSmall.png}" alt="Logo" class="logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}"> Главная <span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/polls}">Опросы</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lk}">Личный кабинет</a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Выход</a>
            </li>
        </ul>
    </div>

</nav>

<div class="container jumbotron">
    <form method="POST" th:action="@{/polls/{id}(id=${poll.getId()})}" th:object="${poll}">

        <input type="hidden" name="_method" value="put">
        <label for="name"> Название: </label>
        <input th:field="*{name}" id="name" class="form-control">

        <label for="description"> Описание: </label>
        <textarea th:field="*{description}" class="form-control" id="description"> </textarea>

        <p>Дата добавления: <span th:text="${poll.getCreatedDt()}"> date </span></p>

        <label for="status"> </label>
        <select id="status" name="status" th:field="*{status}" class="form-control" required>
            <option value="PUBLIC">PUBLIC</option>
            <option value="PRIVATE">PRIVATE</option>
            <option value="HIDDEN">HIDDEN</option>
            <option value="CLOSED">CLOSED</option>
            <option value="DRAFT">DRAFT</option>
        </select>

        <a th:href="@{/polls/{pollid}/questions/create(pollid=${poll.getId()})}" class="btn btn-outline-secondary">Добавить вопрос</a>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary">Обновить опрос</button>
        </div>
    </form>

</div>
</body>
</html>